button.maximize {
  opacity: 0;
}

button.minimize {
  opacity: 0;
}

button.close {
  opacity: 0;
}

button.maximize:hover {
  opacity: 0;
}

button.minimize:hover {
  opacity: 0;
}

button.close:hover {
  opacity: 0;
}

decoration,
window,
window.backgroud,
window.titlebar {
  border-radius: 0px;
}

window headerbar *,
window .titlebar {
  background-image: none;
  margin-top: -100px;
  border: none;
}

/* remove rounded corners */
window decoration {
  border-radius: 0px 0px 0px 0px
}

terminal-window headerbar *,
terminal-window .titlebar {
  background-image: none;
  margin-top: -100px;
  border: none;
}

/* remove rounded corners */
terminal-window decoration {
  border-radius: 0px 0px 0px 0px
}