.custom-search-entry {
    min-width: 180px;
    border-radius: 6px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-width: 0;
    background-color: rgba(255,255,255,0.15);
    color: white;
}

.suggestion {
    min-width: 180px;
    border-radius: 6px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-width: 0;
}


.dialog-list-section-item {
  min-width: 300px;
  padding: 8px 6px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.05);
  transition: background-color 150ms ease, border-color 150ms ease;
  border: 1px solid transparent;
}

.dialog-list-section-item:hover {
  background-color: rgba(255,255,255, 0.15);
  border-color: rgba(255, 255, 255, 0.12);
}

.item-title {
  font-weight: bold;
}

.item-description {
  font-size: 0.9em;
  opacity: 0.8;
}